<% layout('layouts/boilerplate') %>
  <h1 class="mb-5">All Campgorunds</h1>

  <% for(let campground of campgrounds){ %>
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%= campground.images.url %> " class="img-fluid rounded-start" alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= campground.title %>
            </h5>
            <p class="card-text">
              <%= campground.description %>
            </p>
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
          </div>
        </div>
      </div>
    </div>
    <% } %>