<% layout('layouts/boilerplate') %>
  <h1 class="mb-5">All Campgorunds</h1>

  <% for(let campground of campgrounds){ %>
    <div class="card mb-3">
      <% if(campground.images.length){ %>
        <img src="<%= campground.images[0].url %> "  class="card-img-top" alt="...">
      <% } %>  
      <div class="card-body text-center">
        <h5 class="card-title"><%= campground.title %> </h5>
        <p class="card-text"><%= campground.description %> </p>
        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">Visit <%= campground.title %> </a>
      </div>
    </div>
    <% } %>