<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= campground.title %> </title>
</head>
<body>
    <h1>Title: <%= campground.title %> </h1>
    <h2>Location: <%= campground.location %> </h2>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <a href="/campgrounds/<%= campground._id %>/delete ">delete</a>
    </form>
    <a href="/campgrounds">Back</a>
    <a href="/campgrounds/<%= campground._id %>/edit ">edit</a>
</body>
</html>